<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Modulo2.Leccion4.Android.ListView.Modulo2.Leccion4.Android.ListView" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="Modulo2.Leccion4.Android.ListView"></application>
</manifest>